body {
    background: #2E2E40;
}

header {
    margin-right: 20px;
    margin-top: 20px;
}

.dropdown {
    display: none;
}

.iconify {
    width: 41px;
    height: 41px;
}

.github {
    position: absolute;
    margin: auto;
    right: 300px;
    top: 53px;
}

.twitter {
    position: absolute;
    right: 250px;
    top: 53px;
}

.instagram {
    position: absolute;
    right: 200px;
    top: 53px; 
}


.social {
    list-style: none;
}

.social a {
    color: white;
    text-decoration: none;
}

.nav {
    list-style: none;
}

.nav a {
    color: white;
    text-decoration: none;
}

.profile_img {
    position: absolute;
    width: 20vw;
    height: 20vw;
    right: 15vw;
    top: 200px;

}

.name {
    position: relative;
    width: 16vw;
    height: 16vw;
    left: 15%;
    top: 225px;

    font-family: Kaushan Script;
    font-style: normal;
    font-weight: normal;
    font-size: 7vw;
    line-height: 145px;

    color: #FFF3F3;
}

.nav {
    margin-top: 225px;
    margin-left: 10%;
}

.nav__item {
    display: inline-block;
    position: relative;
    margin-left: 7vw;
    width: 106px;
    height: 42px;

    font-family: Work Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 2em;
    line-height: 42px;

    color: #FFFFFF;
}

.nav__item::before {
    content: '';
    position: absolute;
    transform: scaleX(0);
    width: 100%;
    height: 6px;
    bottom: 0;
    left: 0;
    background-color: white;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.nav__item:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.sidebar {
    display: none;
}

@media (max-width: 800px) {
    .profile_img {
        

        width: 200px;
        height: 200px;

        margin-left: auto;
        margin-right: auto;
        
        top: 125px;
    }

    .circle_image_large {
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }

    .name-container {
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }

    .name {
        text-align: center;
        position: relative;
        top: 300px;

        font-family: Kaushan Script;
        font-style: normal;
        font-weight: normal;
        font-size: vw;
        line-height: 145px;
    }

    .social {
        display: none;
    }

    .navbar {
        display: none;
    }

    .dropdown {
        display: none;
        margin-top: 17px;
		background-color: #FF9A52;
		width: 100%;
	}

	.dropdown li {
		margin-left: 1em;
		list-style: none;
        font-size: 25pt;
        width: 250px;
		font-family: Gotham, 'Helvetica Neue', Helvetica, Arial, 'sans-serif';
		line-height: 2;
	}

	.dropdown a {
		display: fixed;
        margin-left: 10px;
		text-decoration: none;
		color: white;
	}

	.dropdown_toggle:checked ~ .dropdown {
        display: flex;
        
		}

	.dropdown_toggle {
		display: none;
	}

	.dropdown_toggle_label {
		position: absolute;
		top: 10px;
        bottom: 0;
        left: 10px;
		margin: 20px;
		align-content: center;
	}
	
	.dropdown_toggle_label span,
	.dropdown_toggle_label span::before,
	.dropdown_toggle_label span::after {
		display: block;
		background: white;
		height: 4px;
		width: 2em;
        position: relative;
	}

	.dropdown_toggle_label span::before,
	.dropdown_toggle_label span::after {
		content: "";
		position: absolute;
	}

	.dropdown_toggle_label span::before {
		bottom: 10px;
	}

	.dropdown_toggle_label span::after {
		top: 10px;
    }
}
